mixin how-we-are-working()
   .how-we-are-working
      h2   Как мы работаем?
      .container
         .how-we-are-working__points
            .how-we-are-working__point.one
               p  1
                  span  Название этапа
            .how-we-are-working__point.two
               p  2
                  span  Название этапа
            .how-we-are-working__point.three
               p  3
                  span  Название этапа Название этапа Название этапа
               svg(  width=140
                     height=140
                     viewbox="0 0 140 140"
                     preserveAspectRatio="xMinYMax meet"
                     version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                  ).how-we-are-working__circle
                  circle(r=65.5 fill="transparent" stroke="#d35414" cx="0" cy="50%" stroke-width="3")


            .how-we-are-working__point.five
               p  5
                  span  Название этапа
               //-.how-we-are-working__circle
            .how-we-are-working__point.four
               p  4
                  span  Название этапа
            .how-we-are-working__point.six
               p  6
                  span  Название этапа Название этапа Название этапа Название этапа
               svg(  width=140
                     height=140
                     viewbox="0 0 140 140"
                     preserveAspectRatio="xMinYMax meet"
                     version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                  ).how-we-are-working__circle
                  circle(r=65.5 fill="transparent" stroke="#d35414" cx="100%" cy="50%" stroke-width="3")
            .how-we-are-working__point.seven
               p  7
                  span  Название этапа
         .how-we-are-working__order
             a(href="Javascript:void(0)").order-button  Заполнить бриф